.Board {
  .List {
    background-color: #ddd;
    margin: 0 0.5rem;
    border-radius: 3px;
    flex: 0 0 300px;
    color: #333;
    height: fit-content;

    // max-height: 80vh;
    &-Header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      padding: 0.25rem;

      .List-Controls--Button {
        color: #777;
        padding: 0.7rem 0.75rem;
      }

      .List-Controls--Button:hover,
      .List-Controls--Button:focus {
        background-color: #ccc;
        border-radius: 2px;
      }

      form {
        width: 100%;
      }

      input[type="text"] {
        height: 2rem;
        font-size: 14px;
      }
    }

    &-Title {
      margin: 0;
      word-wrap: break-word;
      max-width: 80%;
      padding-left: 0.5rem;
      font-weight: 500;
      color: rgb(46, 49, 68);
    }

    &-Cards {
      padding: 0 0.5rem;
      height: 100%;
      max-height: 90vh;
      overflow-y: auto;
    }
  }

  .Add-Card-Button {
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0.75rem;

    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
  }
}