.settings-tabs {
  button {
    padding: 0.5rem 1rem;
    border-radius: 10px 10px 0 0;
    border: none;
    outline: none;
    margin-right: 5px;
    background-color: #ccc;

    &.active {
      background-color: #fff;
      border-bottom: 1px solid #fff;
    }
  }
}

.settings-content {
  padding: 1rem;
  border-radius: 0 10px 10px 10px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.settings-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button {
    margin-left: 1rem;
  }
}