.NewBoard--Modal {
  padding-top: 1rem;

  & > div {
    margin-bottom: 1.5rem;
  }
  p {
    margin: 0;
    margin-bottom: 1rem;
  }
  .NewBoard--Privacy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0.5rem 0;
    }
  }
  .NewBoard--Title {
    p {
      margin-bottom: 0.25rem;
    }
  }
}
