.montserrat-light {
  font-weight: 300;
  font-family: "Montserrat", sans-serif !important;
}
.montserrat-regular {
  font-weight: 400;
  font-family: "Montserrat", sans-serif !important;
}
.montserrat-semibold {
  font-weight: 500;
  font-family: "Montserrat", sans-serif !important;
}
.montserrat-bold {
  font-weight: 700;
  font-family: "Montserrat", sans-serif !important;
}