// mostly for reference

$color-transition: color, background-color 0.1s ease-in;
$color-main: #2ecc71;
$color-secondary: #27ae60;
$color-tertiary: #34495e;

$color-white: #ecf0f1;
$color-light-gray: #bdc3c7;
$color-dark-gray: #95a5a6;

$color-text: #333;
$enable-responsive-font-sizes: true;
