.Backdrop {
  background-color: rgba(#34495e, 0.75);
}

.Modal {
  height: 80vh;
  width: 1000px;
  background-color: #eee;
  display: flex;
  flex-direction: column;

  .QuillWrapper {
    background-color: #fff;
    overflow-y: auto;
    border: none;

    [role="textbox"] {
      min-height: 100%;
    }
  }
}