.Card-New {
  margin-bottom: 1rem;
  input.New-Card-Input {
    color: #333;
    font-size: 15px;
    background-color: #fff;
    border-radius: 3px;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    height: 2.5rem;
  }
}
