.Landing-Page {
  background-color: #ecf0f1;
  * {
    letter-spacing: -0.5px;
  }
  h2 {
    font-weight: 700;
  }
  p,
  a,
  button {
    letter-spacing: 0;
  }
  .Section {
    padding: 4rem 0;
    &.Section-Reversed .Subsection {
      float: right;
    }
    .Subsection {
      @media (max-width: 750px) {
        font-size: 13px;
      }
      .Subsection-Header {
        line-height: 1.3;
      }
      .Subsection-Paragraph {
        font-size: 1.35rem;
      }
      .Subsection-Image {
        width: 100%;
        display: block;
        margin: auto;
        @media (max-width: 992px) {
          max-height: 200px;
          margin-top: 4rem;
        }
      }
    }
  }

  .Container {
    width: 92%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
