.Hero {
  padding-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;
  background-color: #34495e;
  // max-height: 80vh;
  position: relative;
  color: #ecf0f1;
  // color: #fff;
  padding: 3rem 0;
  .Subsection {
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
  .bg-image {
    // position: absolute;
    // margin-left: 50%;
    // left: 0;
    width: 100%;
    @media (max-width: 992px) {
      max-height: 300px;
    }
  }
}
