@import "./scss/variables";

body {
  background: rgb(52, 73, 94);
  background: linear-gradient(
    to bottom right,
    rgba(52, 73, 94, 1) 30%,
    #39425f 100%
  );

  color: $color-white;
}
#root {
  overflow: auto;
}
* {
  box-sizing: border-box;
}
// Utility Classes
.Container {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.Container--Wide {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  height: 99%;
}
.btn-invisible,
.btn-invisible:focus,
.btn-invisible:active,
.btn-invisible {
  background-color: transparent;
  border: none;
  cursor: pointer;
  &:hover {
  }
}
// colors:
// bg #34495e,
// green #2ecc71,
// dark green #27ae60,
// white #ecf0f1,
// mid gray #bdc3c7,
// dark gray #95a5a6
