@import "./scss/variables";

body {
  background: rgb(52, 73, 94);
  background: linear-gradient(
    to bottom right,
    rgba(52, 73, 94, 1) 30%,
    #39425f 100%
  );
}

body .App {
  color: $color-white;
}

a:hover {
  text-decoration: none !important;
}

.App {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

// Utility Classes
.Container {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.Container--Wide {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.btn-invisible,
.btn-invisible:focus,
.btn-invisible:active,
.btn-invisible {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a.btn-long,
button.btn-long {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

input.Input-Invalid {
  border-bottom: 1px solid #cc0000 !important;
  box-shadow: 0 1px 0 0 #cc0000 !important;
}

p.Error-Message {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.Error-red {
  color: #cc0000;
}

.mb-5 {
  margin-bottom: 2rem;
}

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}
