@import "./scss/variables";

body {
  background-color: $color-tertiary;
  color: $color-white;
}

#root {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

// Utility Classes

.Container {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
