@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
